<html>
  <head>
    <title>Adaptive Publisher Portal</title>
    <style>

    body {
      font-family: arial;

      padding: 50px 10% 50px 10%;
    }

    h1 {
      padding-left: 50px;
      margin-bottom: 50px;
    }

    .tabs-wrap {
      position: relative;
      min-height: 250px;
    }

    fieldset {
      margin-top: 15px;
      border-radius: 10px;
    }


    div.submit {
      text-align: center;

      margin-top: 50px;
      margin-left: 100px;
      margin-right: 100px;
    }





    </style>
  </head>
  <body>
    {% if email %}
    <div class="main">

      <h1>Adaptive Publisher Portal</h1>

        <div class="tabs-wrap">
            <form  id= "infoContact" name="infoContact" method="post" action="" onsubmit="return myValidation()">
                {% csrf_token %}

                <fieldset class="contact">
                    <label>email:</label><br>
                    <input type="email" id ="emailFix" name="emailFix" size="25" value="{{email}}"><br>

                    <label>new password:</label><br>
                    <input type="password" id ="newpass" name="newpass" size="25" > <br>

                    <label>confirm your password:</label><br>
                    <input type="password" id="newpass2" name="newpass2" size="25" ><br/><br>

                <div class="submit">
                    <input type="button" value="Cancel" onclick = "redirect('login')"/>
                    <input type="submit" />
                </div>

                </fieldset>
            </form>
          </div>
        </div>
    <script>

        function redirect(op)
        {
        var url = document.URL.replace("forget",op);
        console.log(url);
        window.location.replace(url);
        }


        function myValidation()
        {
            var p1 = document.getElementById("newpass").value;
            var p2 = document.getElementById("newpass2").value;
            console.log(p1);
            console.log(p2);
            if(p1!= p2)
            {
                alert("please confirm your new password");
                return false;
            }
            else
            {
                alert("success");
                return true;
            }
        }


    </script>
  {% endif %}
  </body>
</html>
